/* HW3.module.css */
.container {
    min-height: 200px;
    padding: 20px;
}

.text {
    margin-top: 20px;
}

.button {
    margin-top: 10px;
}

.defaultText {
    /* Стили для заголовка по умолчанию */
}

.taskList {
    margin-top: 50px;
}
