.radio {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    position: relative;
}

.radio:checked {
    background-color: black;
}

.radio:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px; /* Увеличьте размер внутреннего круга */
    height: 10px; /* Увеличьте размер внутреннего круга */
    background-color: #000000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.options {
    display: flex;
    flex-direction: column; /* Расположить элементы по вертикали */
    gap: 10px; /* Добавить отступы между радиокнопками */
    justify-content: flex-start; /* Выравнивание по верхнему краю */
}

.label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
