.radio {
    width: 20px; /* Задаем фиксированную ширину */
    height: 20px; /* Задаем фиксированную высоту */
    border: 2px solid #0de354; /* Граница для радиокнопки */
    border-radius: 50%; /* Радиус для круга */
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.radio:checked {
    background-color: black; /* Цвет фона при выборе */
}

.radio:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px; /* Размер внутреннего круга */
    height: 10px;
    background-color: white; /* Цвет внутреннего круга */
    border-radius: 50%;
    transform: translate(-50%, -50%); /* Центрирование внутреннего круга */
}
